#exclude sensitive information

auth.json
token.json

*.db
*.sqlite
.venv

#exclude pycache
__pycache__
**/__pycache__/
*.pyc
__pycache__/*
__pycache__/bnet_ah_api.cpython-312.pyc
__pycache__/bnet_auth_api.cpython-312.pyc
