table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
th {
    background-color: #333;
    color: white;
}
.controls {
    margin-bottom: 15px;
}
.card {
    margin: 10px;
}
.compact-header {
    padding: 0.5rem 1rem; /* Adjust these values as needed */
    margin-bottom: 0; /* Remove bottom margin */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between text and button */
}

.header-text {
    font-weight: bold; /* Make text bold */
    font-size: 1.25rem; /* Slightly larger text */
}

.main-header-text {
    font-weight: bold; /* Make text bold */
    font-size: 1.5rem; /* Larger text for main headers */
}

.card-body h3 {
    font-size: 1rem; /* Smaller headers within settings and filters */
    font-weight: bold; /* Make text bold */
}
.card-body {
    padding: 4px;
}
.container-fluid {
    padding: 0px;
    margin: 0px;
}
.btn {
    margin: 5px;
}
.toggle-group.active {
    background-color: #6c757d; /* Change to your desired active color */
    color: white;
}
.dataTables_wrapper {
    overflow-x: auto;
}

.last-updated {
    font-size: 1rem;
}

.modified-price-cell {
    background-color: #e7ffcc; /* Light blue background to indicate modification */
}

/* Style for the reset button */
.reset-price-btn {
    margin-left: 5px;
    font-size: 0.8em;
}

/* When not active, maintain consistent button styling */
#toggle-t1-t2-transmutation {
    margin: 5px;
}